
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* Cor de fundo global */
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.main-content {
  padding-top: 5rem;
}
